# Xcode proje dosyaları
.DS_Store
*.xcuserstate
*.xccheckout
*.xcworkspace
*.xcuserdatad
*.xcscmblueprint
*.xcodeproj

# Derleme dosyaları
build/
DerivedData/

# Swift paket yöneticisi
.swiftpm/
Package.resolved
Pods/

# Diğer dosyalar
*.log
*.swp
*.swo
*.cache
*.tmp
*.bak

# Sadece ekran dosyaları ve database dosyaları hariç tutulacak
!*.swift
!*.xcdatamodeld
!*.xcdatamodel
!*.sqlite
!*.plist
